*, *::after, *::before {
	-webkit-user-select: none;
	-webkit-user-drag: none;
	-webkit-app-region: no-drag;
    cursor: default;
    padding: 0;
    margin: 0;
}

.welcome-text {
    padding-top: 5%;
    margin: 0;
}

input {
    cursor: text;
}

.case-info {
    padding: 0;
    margin: 0;
    border: 5px;
}

#case-card:active{
    cursor: grabbing;
    text-decoration: none;
}

#case-court {
    padding-bottom: 2%;
}

.card {
    max-height: 50px;
}


.case-info i {
    margin-top: 6%;
}

i:hover {
    cursor: grab;
}

i:active {
    cursor: grabbing;
}

#pdf-click {
    margin-right: 10%;
}

#pdf-click:hover {
    color: #d50000;
}

#copy-click:hover {
    color: #ff6d00 ;
}

#case-citation.invalid {
    outline-color: #b71c1c;
    /* also need animation and -moz-animation */
    -webkit-animation: shake .5s linear;
}
/* also need keyframes and -moz-keyframes */
 @-webkit-keyframes shake {
    8%, 41% {
        -webkit-transform: translateX(-10px);
    }
    25%, 58% {
        -webkit-transform: translateX(10px);
    }
    75% {
        -webkit-transform: translateX(-5px);
    }
    92% {
        -webkit-transform: translateX(5px);
    }
    0%, 100% {
        -webkit-transform: translateX(0);
    }
}